/*Code to make sure we're using mobile first design*/   
@media only screen and (min-width: 768px) 

{
header h1 {font-size: 3.85rem;}
header h2 {font-size: 1.5rem;}
header img {height: 300px}

/*Below will hide hamburger button when medium screen size and display items in list*/
nav button {display: none;}
nav ul {display: block;}
nav li {width: 25%; float: left;}

.medium-6 {width: 50%;}
}