/*Prevent text adjust when you move phone to landscape*/
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*Set the box sizing model to border box which means padding is added inside margin is added to outside*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }

/*Code to make sure we're using mobile first design*/    
@media screen and (min-width: 768px) and (max-width: 1024px) {
h1 {color: red;}
}

.column {float: left; padding: 0 2vw; margin: 0 0 .75rem 0;}
.small-12 {width: 100%;}

/*Header rules*/
header {
    background-color: red;
    font-size: 45px;
    text-align: center;
}

header 
h2,
h4
{
    padding: .5rem 0 0 0;
    font-size: 1.95rem;
    color: white
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 2rem;
}

h4 {
    text-align: center;
}

header img {
    float:left;
    height: 300px;
    padding-right: 10px;
}

/*Styling for hamgurger button*/
button#hamburgerBtn { 
    background: none;
    border:none;
    color: #fff;
    font-size: 2.4rem;
    cursor: pointer;
    padding: 0 30px 0 2vw;
    }

/*Styling for navigation*/
nav {background-color: red}
nav ul {margin: 0; padding: 0}
nav ul li {list-style-type: none;}
nav a {
    display: block;
    padding: .8rem 0;
    color: #eee;
    text-align: center;
    text-decoration: none;
    }

/*Additional styling making what user selects in list a bit darker before selecting*/
nav li.active {background-color: rgba(0,0,0,0.5)}*/
nav a:hover {background-color: rgba (0, 0, 0, 0.2);}
nav ul.open {display: block;}
nav ul {display: none;}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: white;
    background-color: black;
}


p {
    color:white
}

footer h1 {
    background-color: #9b87b8;
    font-size: 1.2rem;
}

footer h2 {
    font-size: italic;
    text-transform: uppercase;
    margin: 1rem 0 .3rem 0;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}