/*Prevent text adjust when you move phone to landscape*/
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*Set the box sizing model to border box which means padding is added inside and margin is added to outside*/
/*This is only needed to be in the small.css file and the asterisk says the rule applies to 
every single tag on page*/
*{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

/*Media Queries - Screens smaller than 768px and wider 1024px will be ignored and not Black*/    
@media screen and (min-width: 768px) and (max-width: 1024px) {
    h2 {color: red;}
}

/*Header styling*/
header {
    background-color:rgb(117, 102, 102);
    text-align: center;
  }

h1, h2 {
    color: white;
    font-weight: 300;
}

h1 {
    margin: 1rem 0 .3rem 0;
}

h2 {
  font-weight: 800;
}

header img {
    float: right;
    max-width: fit-content;
    height: 75px;
    padding: .5rem 0 0 0;
}

/*Hamgurger button styling*/
button#hamburgerBtn { 
    background: none;
    border: none;
    color:#fff;
    font-size: 2.4rem;
    cursor: pointer;
    padding: 0 30px 0 2vw;
}

/*Navigation and UL Styling*/
/*nav {background-color: rgb(117, 102, 102);}*/
nav ul {margin: 0; padding: .5rem 0 0 0}
nav ul li {list-style-type: none;}
nav a {
    display: block;
    padding: .8rem 0;
    color: #eee;
    text-align: center;
    text-decoration: none;
}

/*Wayfinding - Additional styling for making the hovered selection in list a bit darker before selecting*/
li.active {background-color: brown;}
nav a:hover {background-color: rgb(138, 64, 64);}
nav ul.open {display: block;}
nav ul {display: none;}


body {
    font-family: "roboto slab", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:white;
    background-color:black;
    padding: .5rem;
} 

/*Table alternating red/grey for rows*/
        table,
        td,
        th {
            border: 2px solid white;
            border-collapse: collapse;
            padding: 10px;
            font-weight:500;
        }

        tr:nth-of-type(odd) {
            background-color:brown;
        }
        
        tr:nth-of-type(even) {
            background-color: rgb(136, 121, 121);
        }


/* Added this code for table, it will hide certain columns and data when on small screens*/
@media screen and (max-width: 768px) {
    .tohide {display: none;}
}

.colHidden {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}


/*Caption above Merch table*/
caption {
    font-size:1.5rem;
    padding-bottom:1rem;
    color:red;
}

 
/*Responsive images styling*/
.responsive {
    max-width: 100%;
    height: auto;
  }

/*Video-container for youtube vids*/
/*Also, setting padding to 56.25% we have a 16:9 scaling size.*/

.frame-border {
    border: 3px solid #fff;
    padding: 3%;
    background-color: rgb(122, 100, 100);
}

.video {
    width: 50%;
    background-color:rgb(117, 102, 102);
} 

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    width: 100%
 } 

 .video-container iframe {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    padding: 5%;
 } 

 .flex-video-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

 
/*Below is code for character images and hover effect*/
  .img-dustin {
    width: 320px;
    height: 180px;
    background-image: url(../pics/Season1-Dustin.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center left;
  }
  
  .img-dustin:hover {
    background-size: 100%;
  }
  
  .img-eleven {
    width: 320px;
    height: 180px;
    background-image: url(../pics/Season1-Eleven.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center left;
  }
  
  .img-eleven:hover {
    background-size: 100%;
  }

  .img-mike {
    width: 320px;
    height: 180px;
    background-image: url(../pics/Season1-Mike.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center left;
  }
  
  .img-mike:hover {
    background-size: 100%;
  }

  .img-hopper {
    width: 320px;
    height: 180px;
    background-image: url(../pics/Season1-Hopper.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center left;
  }
  
  .img-hopper:hover {
    background-size: 100%;
  }

  .img-lucas {
    width: 320px;
    height: 180px;
    background-image: url(../pics/Season1-Lucas.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center left;
  }
  
  .img-lucas:hover {
    background-size: 100%;
  }

  .img-steve {
    width: 320px;
    height: 180px;
    background-image: url(../pics/Season1-Steve.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center left;
  }
  
  .img-steve:hover {
    background-size: 100%;
  }

  .img-will {
    width: 320px;
    height: 180px;
    background-image: url(../pics/Season1-Will.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center left;
  }
  
  .img-will:hover {
    background-size: 100%;
  }

  .img-nancy {
    width: 320px;
    height: 180px;
    background-image: url(../pics/Season1-Nancy.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center left;
  }
  
  .img-nancy:hover {
    background-size: 100%;
  }

  .img-joyce {
    width: 320px;
    height: 180px;
    background-image: url(../pics/Season1-Joyce.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center left;
  }
  
  .img-joyce:hover {
    background-size: 100%;
  }

/*Flexbox layout for character images*/
 .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }


.flex-item {
  padding: 20px;
}

span {
  display: block;
  background: rgba(201, 196, 196, 0.3);
  color: black;
  padding: 10px 5px;
  font-weight: bold;
  font-size: x-large;
}

/*Grid styling rules for footer*/
.row {clear: both;}
.limited {
    max-width: 1140px;
    margin: auto;
}

.column {float:left; padding:0 2vw; margin: 0 0 .75rem 0;}
.small-12 {width:100%;}
.small-6 {width:50%}

/*Footer styling*/
footer {
  background-color: rgb(117, 102, 102);
  font-size: 1rem;
  text-align: center;
}

footer h3 {
  font-style: italic;
  text-transform: uppercase;
  margin: 1rem 0 .3rem 0;
}

/*Remove bullets from footer list*/
ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: "";
  display:table;
  clear:both;
}

/*NOT USED HERE ONLY TESTED - Coding for countdown area
.season4 h1, h2{
  color: white;
}

.season4 {
  color: brown;
  font-size: larger;
  font-weight: bold;
  background-color: black;
}
*/

/*Coding for login/sign up forms*/
body {
  margin: 0;
  padding: 0;
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  font-family : Verdana,Tahoma, sans-serif;
}


.loginformbackground {
  margin: 0;
  padding: 0;
  background-image: url(../pics/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family : Verdana,Tahoma, sans-serif;
}

.box {
  width: 380px;
  height: 500px;
  background-color:rgba(0, 0, 0, 0.7);
  padding: 20px;
  margin: 8% auto 0;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
}

.box img {
 width:100px;
 margin-top:-50px ;
}

.header {
  width: 300px;
  height: 50px;
  text-transform: uppercase;
  display: inline-flex;
  padding-top: 20px;
  padding-bottom: 0;
  justify-content: space-between;
}

/*Form header when not selected*/
.header a {
 font-size: 20px;
 text-decoration: none;
 color: white;
 display: inline-flex;
 padding-left: 25px;
 padding-right: 25px;
 justify-content: center;
 cursor:pointer;
}

/*Form header when selected*/
.header .active {
 color: brown;
 font-weight: bold;
 position: relative;
}

.header .active:after {
 position: absolute;
 border: none;
 content: "";
}

#errorMsg{
 color: white;
 text-align: center;
 font-size: 12px;
 padding-bottom: 20px;

}

.content {
 display: inline-flex;
 overflow: hidden;
}

form {
 position: relative;
 display: inline-flex;
 width: 100%;
 height: 100%;
flex-shrink: 0;
flex-direction: column;
transition: right 0.5s;
}

.login a {
text-decoration: none;
color: white;
font-size: 15px;
text-align: center;
cursor: pointer;
}

.loginOpt a {
  color: black;
  text-decoration: none;
  font-size: large;
  border: 4px solid;
  padding: 5px;
  background: brown;
  float: left;
}

.signup a {
  color: white;
  text-decoration: none;
}

.extend form {
 right: 100%;
}

input[type=text], input[type=password], input[type=email]{
 display:block;
 position: relative;
 border: 4px solid white;
 padding: 12px;
 margin-bottom: 15px;
 width: 100%;
 box-sizing: border-box;
 font-size: 17px;
 outline: none;
}

input[type=text]:hover,  input[type=password]:hover, input[type=email]:hover{
 border: 4px solid brown;
}

input[type=submit]{
 display:block;
 position: relative;
 border: 3px solid brown;
 padding: 12px;
 margin-bottom: 20px;
 width: 100%;
 border-radius: 25px;
 background-color: rgb(36, 23, 73) ;
 text-align:center;
 font-size: 20px;
 color: #ffffff;
 cursor:pointer;
 outline: none;
}

input[type=submit]:hover{
  background-color:#ffffff;
  color: #000000;
  font-weight: bold;
}

input[type=checkbox]{
 background-color:#df80ff;
}
#check {
 margin-top: 10px;
 text-align: left;
 color: #ffffff;
 font-size: 15px;
}


